@import "shared_values";

body {
  font-family: $primary-font;
  background-image: url("white-brick.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

html {
  height: 100%;
  box-sizing: border-box;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: $primary-color;
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  margin-left: .4em;
  font-family: $logo-font;
  padding-top: 3%;
  border-bottom: 1px dotted #1F7F61;
}

.primary-bg {
  background-color: $primary-color;
}

#logo {
  color: cornsilk;
  font-family: $logo-font;
  font-size: 2.5em;
  font-weight: 900;
}

.fa-crow {
  font-size: 2.2em;
  padding-right: 2%;
  margin-left: .3em;
}

.fa-trash-alt {
  color: #ff0000;
}

.fa-trash-alt:hover {
  color: rgba(#ff5400, 0.64);
}

.user-ideas-box {
  background-image: url("white-brick.png");
  display: flex;
  flex-wrap: wrap;
}

.user-ideas {
  border: .5px dotted;
  border-radius: 1em;
  margin: 1em;
}

.user-card-button {
  margin-top: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.user-new-background {
  height: 50em;
  background-image: url("white-brick.png")
}

.new_idea {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  padding: 4em;
}

.edit_idea {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  padding: 4em;
}

.login-form {
  padding: 4em;
}

.categories-box {
  display: flex;
  flex-wrap: wrap;
}

.category-titles{
  margin: 1em;
}

#add-new-image-link {
  margin-left: 1em;
  font-size: 1.2em;
}

#create-category-link {
  margin-left: 1em;
}

#category-label {
  margin-top: 3px;
}

#category-label {
  margin-top: 3px;
}

#create-idea {
  margin-top: 1em;
}

#idea-title {
  color: #193840;
}

#image-title {
  color: #343140;
}

#descrip {
  color: #15222a;
}

#card-image {
  display: flex;
  justify-content: center;
}

#add-image {
  color: #2b6973;
}

#change-idea {
  color: #f57af7;
  border-radius: 15px;
  margin-top: 1em;
}

#idea-image {
  height: 4em;
  width: 4em;
}

#idea-button {
  font-size: 1.2em;
  margin-left: .4em;
  display: flex;
  color: rgb(96, 99, 124);
}

#category-delete {
  // visibility: hidden;
  font-size: 0;
}
